/HelloW/nbproject/private/
/TP1/nbproject/private/
/TP1/build/
/TP1/dist/
/NecessiteSynchro/nbproject/private/
/NecessiteSynchro/build/
/NecessiteSynchro/dist/
/Compte/nbproject/private/
/Compte/build/
/Compte/dist/